.container {
    display: flex;
}

.imgContainer {
    flex: 1;
    position: relative;
}

.formContainer {
    flex: 1;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form input,
.form textarea {
    padding: 20px;
    border-radius: 5px;
    border: 1px;
    outline: blue;
    background-color: white;
    color: black; 
}

.form button {
    padding: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(133, 217, 251);
    color: white;
    cursor: pointer;
}
